.main {
  .section__fork {
    background: url('../images/fork/background_fork.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .wrapper__fork {
      h2 {
        @include font-Montserrat-700;
        font-size: 48px;
        line-height: 50px;
        color: $color-header;
        padding: 80px 0 60px 0;
      }
      .fork-container {
        margin: 0 100px;
        padding-bottom: 50px;
        .fork-container__list {
          display: grid;
          grid-template-columns: 1fr 1fr 1.1fr 1fr;
          grid-template-rows: 1fr;
          column-gap: 15px;

          .fork-container__list--item {
            .fork-container__h3 {
              margin-top: 50px;
              background-color: rgba(255, 255, 255, 0.06);
              h3 {
                @include font-Montserrat-400;
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;

                color: $color-header;
                padding: 36px 0;
              }
            }

            .fork-container__price {
              background-color: rgba(255, 255, 255, 0.11);
              .container__price {
                @include font-Montserrat-400;
                font-size: 60px;
                line-height: 90px;
                text-transform: uppercase;
                color: $color-header;
              }

              .per-month {
                @include font-Montserrat-400;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: $color-header;
              }
              .img_sep_price {
                img {
                  display: block;
                  margin: 36px auto;
                }
              }
              .fork-container__personal-license {
                @include font-Montserrat-400;
                font-size: 16px;
                line-height: 18px;
                color: $color-header;
              }
              .container__button {
                padding-bottom: 36px;
                .fork-container__button {
                  display: flex;
                  justify-content: center;
                  margin: 62px auto 0px;
                  @include font-Montserrat-400;
                  font-size: 15px;
                  line-height: 15px;
                  text-transform: uppercase;
                  color: $color-header;
                  background-color: rgba(255, 255, 255, 0.15);
                  border-radius: 20px;
                  border: none;
                  padding: 15px 37px;
                  cursor: pointer;
                  &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                  }
                }
              }
            }
            .fork-container__h3.fork-container__h3--active {
              margin-top: 0;
              background-color: rgba(0, 0, 0, 0.2);
              .h3-container__list--active {
                padding: 40px 0;
              }
            }

            .fork-container__price.active {
              background-color: rgba(70, 48, 72, 0.78);
              .container__price--active {
                font-size: 82px;
                line-height: 90px;
                margin-bottom: 15px;
              }
              .img_sep_price.active {
                margin-bottom: 49px;
              }
              .container__button.active {
                margin: 110px 0 0px;
              }
            }
          }
        }
      }
    }
  }
}
