@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@400;700;1,700&family=Montserrat:wght@400;700&display=swap');

body {
  line-height: 1;
  font-size: $font-size;
  color: #000;
  margin: 0 auto;
}

.no-active {
  display: none;
}
.box {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

// -------------header------------------------
.header {
  margin: 0 auto;
  background-color: $color-black;
  .header__container {
    padding: 30px 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .header__logo--link {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo__img {
        width: 43px;
        height: 41px;
        background-image: url('../images/logo.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      .logo__text {
        margin-left: 17px;
        @include font-Lato-700;
        text-transform: uppercase;
        color: $color-menu;
      }
    }

    .header__logo--link:hover {
      .logo__img {
        background-image: url('../images/logo-hover.svg');
      }
      .logo__text {
        color: $color-header;
      }
    }

    .header__button {
      .button {
        @include font-Montserrat-700;
        padding: 11px 20px;
        width: 145px;
        background: $color-menu;
        color: $color-header;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        &:hover {
          color: $color-menu;
          background: $color-header;
        }
      }
    }
    .no-active_button {
      display: none;
    }
    .burger {
      display: none;
      color: $color-header;
    }
  }

  .menu {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
      &--item {
        .button {
          @include font-Montserrat-700;
          padding: 11px 20px;
          width: 145px;
          background: $color-menu;
          color: $color-header;
          border-radius: 40px;
          border: none;
          cursor: pointer;
          &:hover {
            color: $color-menu;
            background: $color-header;
          }
        }
      }
      a {
        @include font-Montserrat-700;
        color: $color-menu;
        &:hover {
          color: $color-header;
        }
      }
    }
  }

  .header__top {
    position: relative;
    background-image: url('../images/background_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 123px;
    text-align: center;
    .header__title {
      @include font-Montserrat-700;
      font-size: 82px;
      line-height: 82px;
      color: $color-header;
    }
    .header__description {
      margin-top: 19px;
      @include font-Lato-400;
      color: $color-menu;
    }
    .header__version {
      @include font-Montserrat-400;
      text-transform: uppercase;
      color: $color-vers;
      margin-top: 19px;
      padding-bottom: 430px;
    }
    button {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      @include font-Lato-700;
      padding: 23px 61px;
      border-radius: 40px;
      border: none;
      color: $color-header;
      background-color: $color-menu;
      cursor: pointer;
      &:hover {
        color: $color-menu;
        background-color: $color-header;
      }
    }
    .header__trial {
      @include font-Montserrat-400;
      font-size: 14px;
      line-height: 15px;
      color: $color-vers;
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// -----------header media 992px------------

@media (min-width: 481px) and (max-width: 992px) {
  .header__wrapper {
    height: 122px;
    background-color: $background-color;
  }
  .header .menu {
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 13px;
    padding-left: 20px;
  }

  .header .menu__list--item .button {
    display: none;
  }
  .header .header__container .no-active_button {
    display: block;
  }

  .header .header__top {
    .header__title {
      font-size: 72px;
      line-height: 72px;
    }
    .header__description {
      font-size: 24px;
      line-height: 24px;
    }
    .header__version {
      font-size: 14px;
      line-height: 14px;
    }
    button {
      font-size: 21px;
      line-height: 23px;
      width: 390px;
    }
    .header__trial {
      width: 100%;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

// -----------header media 480px------------
@media (max-width: 480px) {
  .box {
    padding: 0 10px;
  }
  .header__wrapper {
    height: 122px;
    background-color: $background-color;
  }
  .header .header__container .burger {
    display: block;
    font-size: 30px;
    z-index: 2;
    cursor: pointer;
  }

  .header .header__container {
    padding-left: 16px;
    .header__logo a .logo__text {
      display: none;
    }
  }
  .header .menu__list--item .button {
    display: none;
  }

  .header .menu {
    position: absolute;
    top: 122px;
    left: 0;
    right: 0;
    max-width: 300px;
    display: none;
    background-color: #333333;

    .menu__list {
      display: flex;
      row-gap: 60px;
      flex-direction: column;
      padding: 30px 0px 30px 45px;
      align-items: flex-start;

      .menu__list--item {
        a {
          @include font-Montserrat-400;
          font-size: 26px;
          line-height: 26px;
          color: $color-header;
          position: relative;

          &:focus::before {
            content: url('../images/active.png');
            position: absolute;
            top: -12px;
            left: -44px;
          }
          &:focus {
            color: $color-menu;
          }
        }
      }
      .menu__list--item:last-child {
        display: none;
      }
    }
  }
  .header .active {
    display: block;
  }

  .header .header__container .no-active_button {
    display: block;
  }

  .header .header__top {
    padding-top: 70px;
    .header__title {
      font-size: 48px;
      line-height: 48px;
    }
    .header__description {
      font-size: 18px;
      line-height: 24px;
      margin: 10px 30px;
    }
    .header__version {
      font-size: 14px;
      line-height: 14px;
      padding-bottom: 320px;
    }
    button {
      width: 290px;
      font-size: 18px;
      line-height: 20px;
      padding: 10px 15px;
    }
    .header__trial {
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      bottom: 30;
    }
  }
}
