// ---------section__revolution---- @media 992px-----------
@media (max-width: 992px) {

  .main .section__revolution .section__revolution--h2 {
    font-size: 42px;
    line-height: 42px;
  }
  .main .section__revolution p {
    margin: 0 50px;
  }

  .main .section__what-you-get {
    background-color: $color-header;
  }
}

// ---------section__revolution----- @media 480px-----------

@media (max-width: 480px) {
  .main .section__revolution .section__revolution--h2 {
    font-size: 26px;
    line-height: 26px;
  }

  .main .section__revolution {
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0 10px;
    }
    .github_buttons__oneimg {
      display: none;
    }
    .github_buttons {
      display: block;
    }
  }


}

// -----------what-you-get-----media 992px------------
@media (min-width: 481px) and (max-width: 992px) {
  .main .section__what-you-get {
    margin-top: 150px;
    .wrapper__what-you-get {
      display: flex;
      flex-direction: column;
      .content__what-you-get {
        margin-right: 40px;
        .content__list {
          // grid-row: 20px;
          .content__list--item {
            margin-bottom: 20px;
          }
        }
      }
      .title__what-you-get h2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        line-height: 44px;
        max-width: 540px;
      }
    }
  }
}

// -----------what-you-get-----media 480px------------
@media (max-width: 480px) {
  .main .section__what-you-get {
    .wrapper__what-you-get {
      display: flex;
      flex-direction: column;
      padding: 80px 0;
      .content__what-you-get {
        margin-right: 0px;
        .content__list {
          .content__list--item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            .img {
              margin-bottom: 30px;
            }

            .content__text {
              width: 80%;

              .content__title {
                h3 {
                  text-align: center;
                }
                p {
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .title__what-you-get h2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 29px;
        line-height: 44px;
        max-width: 540px;
      }
    }
  }
}

// -----------people-talking-----media 992px------------
@media (min-width: 481px) and (max-width: 992px) {
  .main .section__people-talking {
    .wrapper__people-talking {
      h2 {
        font-size: 42px;
        line-height: 44px;
      }

      .people-talking__list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        .people-talking__list--item {
          width: 40%;
          padding: 0 3px 56px;
        }
      }
      .people-talking__text--footer {
        margin: 0 10px;
        padding-bottom: 15px;
      }
    }
  }
}

// -----------people-talking-----media 480px------------
@media (max-width: 480px) {
  .main .section__people-talking {
    .wrapper__people-talking {
      h2 {
        font-size: 36px;
        line-height: 48px;
        padding: 45px 0 10px;
      }
      .people-talking__list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        grid-row: 5px;
        .people-talking__list--item {
          width: 80%;
          padding: 40px 3px 2px;
          .people-talking__img {
            text-align: center;
            margin-bottom: 15px;
          }
          .people-talking__text {
            padding: 0 0px;
            p {
              @include font-Lato-ital-700;
              color: $color-header;
            }
          }
        }
      }
      .people-talking__text--footer {
        margin: 30px 25px 0;
        padding-bottom: 15px;
      }
    }
  }
}

// -----------section__fork-----media 992px------------
@media (min-width: 481px) and (max-width: 992px) {
  .main .section__fork .wrapper__fork {
    h2 {
      font-size: 42px;
      line-height: 44px;
    }
    .fork-container .fork-container__list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}

// -----------section__fork-----media 480px------------
@media (max-width: 480px) {
  .main .section__fork .wrapper__fork {
    h2 {
      font-size: 32px;
      line-height: 42px;
      margin: -10px 20px 0;
      padding: 14px 0 0;
    }
    .fork-container {
      margin: 0 40px;
      .fork-container__list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
      }
    }
  }
}
