$color-header: #ffffff;
$background-color: #27262a;
$color-black: #000;
$color-menu: #8d81ac;
$color-vers: #848e97;
$color-h2: #635c73;
$color-section: #323232;
$font-size: 16px;
$background: #f4f4f4;
$color-text: #a291a5;
